<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWebServiceArchiving" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ServiceModelSamples/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWebServiceArchiving"
                contract="IWebServiceArchiving" name="WSHttpBinding_IWebServiceArchiving">
                <identity>
                    <servicePrincipalName value="host/TS2102.totalsoft.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>