<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
  <connectionStrings>
    <add name="Test"
       connectionString="Data Source=testinterview.colorful.hr;Initial Catalog=Test;User ID=candidat;Password=NkvDPYVk8Q27EjdT;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

    <system.serviceModel>
      <bindings />
      <client />
      <services>
        <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
        <service name="Microsoft.ServiceModel.Samples.WebServiceArchiving"
                 behaviorConfiguration="WebServiceArchivingBehavior">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8000/ServiceModelSamples/service"/>
            </baseAddresses>
          </host>
          <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ServiceModelSamples/service  -->
          <endpoint address=""
                    binding="wsHttpBinding"
                    contract="Microsoft.ServiceModel.Samples.IWebServiceArchiving" />
          <!-- the mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex -->
          <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="WebServiceArchivingBehavior">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="False"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
  
</configuration>